<div id="container"></div>

<script charset="utf-8" type="text/javascript"
    src="../../js/libs/three.min.js"></script>

<script charset="utf-8" type="text/javascript"
    src="../../js/libs/CSS3DStereoRenderer.js"></script>

<script charset="utf-8" type="text/javascript"
    src="../../js/libs/TrackballControls.js"></script>

<script charset="utf-8" type="text/javascript"
    src="../../js/libs/DeviceOrientationControls.js"></script>

<script charset="utf-8" type="text/javascript">
  var tweetList = {{{tweets}}}
</script>

<script charset="utf-8" type="text/javascript"
    src="../../js/geotwitter.js"></script>
