doctype html
html
  head
    link(rel='stylesheet', href='../css/style.css')
  body
    div#container

    script(type='text/javascript' src='../js/libs/three.min.js')
    script(type='text/javascript' src='../js/libs/CSS3DStereoRenderer.js')
    script(type='text/javascript' src='../js/libs/TrackballControls.js')
    script(type='text/javascript' src='../js/libs/DeviceOrientationControls.js')

    script(type='text/javascript').
      var tweetList = !{JSON.stringify(tweets)};


    script(type='text/javascript' src='../js/renderAr.js')
